.column 
{
	width: 30%; 
	height: 100%; 
	top: 0;
	display: inline-block;
	float: left;
    overflow:auto;
	padding-right:11px;
}
.readtweet
{
	width: 100%; 
	background-color: #DDDDDD;
	padding: 6px;
	display:inline-block;
}
.unreadtweet
{
	width: 100%; 
	background-color: #FFFFFF;
	padding: 6px;
	display:inline-block;
}
.unreadtweet:hover
{
	background-color: #EFEFEF;
}
.readtweet:hover
{
	background-color: #EFEFEF;
}
.username
{
	font-size: 1.24em;
}
.time
{
	font-size: 1em;
	float:right;
}
.avatar
{
	margin:4px auto;
	width:48px;
	height:48px;
}
.tweetleft
{
	float:left;
	text-align:center;
	margin-right:4px;
}
.tweetbuttons
{
	display:block;
}
.meta
{
	margin-top:3px;
	margin-bottom:3px;
}
body,html
{
	width: 100%;
  height:100%;
  font-size:93%;
overflow: hidden;
	margin:0;
}
#columns
{
	position:absolute;
    left:0;
	bottom:150px;
    top:0;
	width:100%;
    border: 1px solid blue;
    overflow-x:auto;
	overflow-y:hidden;
}
#bottom
{
    position:absolute;
    height:125px;
    border: 1px solid blue;
    bottom:0;
    width:100%;
}


.black_overlay{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	position: absolute;
	top: 40px;
	left: auto;
	right: auto;
	width: 80%;
	height: 80%;
	padding: 13px;
	border: 3px solid white;
	background-color: white;
	z-index:1002;
	overflow: auto;
	display:block;
}