
.column 
{
	height: 100%; 
	top: 0;
	display: inline-block;
	float: left;
    overflow-x:hidden;
    overflow-y:auto;
	background-color:transparent;
	position:relative;
	margin:0px;
	white-space:normal;
}
.tweetshell
{
	width:100%;
	position:relative;
	background-color:transparent;
	margin:0px;
	border-left:0px solid red;
}
.replyShell .replyShell
{
	clear:both;
	padding-left:0px;
	display:none;
}
.replyShell
{
padding-left: 10px;
	clear:both;
	display:none;
}
.tweet
{
	width:100%;
	right:0;
	padding: 6px 0 0 0;
	display:table;
	position:relative;
	z-index:2;
	background-color:transparent;
	margin:0px;
}
.replyShell .readtweetbg 
{
	border-left: 2.5px solid #AAAAAA;
margin-left: -5.5px;
}
.readtweetbg
{
	background-color: #EEEEEE;
	/*opacity:.45;*/
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
}
.unreadtweetbg
{
	background-color: #FFFFFF;
	/*opacity:.45;*/
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
}
.unreadtweetbg:hover
{
	background-color: #DFDFDF;
}
.readtweetbg:hover
{
	background-color: #EFEFEF;
}
.username
{
	font-size: 1.2em;
}
.time
{
	font-size: 1em;
margin-right: 6px;
	float:right;
}
.avatar
{
	margin:4px auto;
	width:48px;
	height:48px;
	position:relative;
	background-repeat:no-repeat;
	background-size:contain;
}
.tweetleft
{
	text-align:center;
	margin-right:4px;
	margin-left:6px;
	left:0;
    display:inline-block;
    float:left;
}
.tweetbuttons
{
	display:block;
}
.meta
{
	margin-top:3px;
	margin-bottom:3px;
}
.text
{
margin-right: 6px;
	width:100%;
}
.rtavatarholder
{
	width:48px;
	height: 48px;
	position:relative;
	margin:4px auto;
}
.retweetedavatar
{
	width: 70%;
height: 70%;
position: absolute;
top: 0;
left: 0;
}
.retweeteravatar
{
	width: 47%;
height: 47%;
right: 0;
bottom: 0;
position: absolute;

}
.rttext
{
	font-size: .8em;

}
body,html
{
	width: 100%;
  height:100%;
  font-size:93%;
overflow: hidden;
	/*background-image: url('asset:/resource/background.jpg');*/
	margin:0;
	box-model: border-box;
	-webkit-box-model: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#body
{
	box-model: border-box;
	-webkit-box-model: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#columns
{
	position:absolute;
    left:0;
	bottom:75px;
    top:0;
    overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
}
#bottom
{
    position:absolute;
    height:75px;
    bottom:0;
    width:100%;
	background-color:#CCCCCC;
	padding: 2px 2px 0 2px;
}
#completebox
{
	position:absolute;  
	max-height: 175px;  
	z-index:2; 
	background-color:#EEEEEE;
	border: 1.5px solid #666666;
	color: #000;
	padding: 2px 4px;
	border-radius: 2px;
	overflow-x:hidden;
	overflow-y:auto;
}
#tweetbox
{
	overflow-y:auto;
}
.completeboxitem
{
	position:relative;
	display:block;
	width:100%;
	margin:0px;
	padding:0px;
}
.completeboxitem:hover
{
	background-color:#CCCCCC;
}.completeboxitemselected
{
	background-color:#CDCDCD;
	position:relative;
	display:block;
	width:100%;
	margin:0px;
	padding:0px;
}
.black_overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.lightbox_content {
    max-width:90%;
    max-height:85%;
    margin:13px;
}
.white_content {
    position:relative;
    background-color: white;
    z-index:1002;
    overflow: auto;
    display:inline-block;
    text-align:center;
}

.user
{
	text-decoration:none;
}
.followinguser
{
	color:#000070;
	text-decoration:none;
}
a
{
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}

button
{
background-color:#EEEEEE;
border: 1.5px solid #666666;
color: #000;
text-align: center;
border-radius: 4px;
padding: 1px 4px;
}
button:hover
{	
background-color:#FFFFFF;
border: 1.5px solid #000000;
border-radius: 3px;
}
button:active
{	
background-color:#DDDDDD;
}